<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.berliat.ankidroidhelper">

    <application>
        <!-- Library Service Declaration -->
        <service
            android:name=".AnkiSyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>